/* this is a the reset to remove html element styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
/* text styling starts here*/

html, body {
    height: 100%;
    font-family: monospace;
    font-style: normal;
}

h1 {
    text-transform: capitalize;
    text-align: center; 
    text-decoration: underline;
    font-style: normal;
    line-height: 4em;
    color: black;
}

h3 {
    text-align: center;
    line-height: 2em;
} 

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 10px;
}

.port>p {
    font-style: italic; 
}

/* layout styling starts here */

.container {
    display: flex;
    height: 100%;
}

.english {
    background-color: blanchedalmond;
    width: 50%;
    overflow:scroll;
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
}

.english::-webkit-scrollbar:vertical {
    width:60px;
}

.port {
    background-color:cornsilk;
    width: 50%;
    overflow:scroll;
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
}
