/* this is a the reset to remove html element styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
/* text styling starts here*/

html, body {
    height: 100%;
    font-family: monospace;
    font-style: normal;
}

h1 {
    text-transform: capitalize;
    text-align: center; 
    text-decoration: underline;
    font-style: normal;
    line-height: 10;
    color: black;
}

h3 {
    text-align: center;
    line-height: 2;
} 

.port {
    font-style: italic;
}

/* layout styling starts here */

.container {
    display: flex;
}

.english {
    background-color: blanchedalmond;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.port {
    background-color:cornsilk;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}