@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Open+Sans&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  font-family: "Open Sans", sans-serif;
  height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    background: lightcyan;
}

@media (min-width: 450px) {
    .container {
        background: blanchedalmond;
    }
}

@media (min-width: 800px) {
    .container {
        background: chocolate;
    }
}