/* this is a the reset to remove html element styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
/* styling starts here*/

html, body {
    height: 100%;
}

.container {
    background-color: lemonchiffon;
    height: 100%;
    color:floralwhite;
}

header {
    height: 20%;
    background-color: burlywood;
}

nav, footer {
    height: 10%;
    background-color: chocolate;
}

main {
    height: 60%;
    background-color: cornsilk;
}

aside {
    width: 20%;
    background-color: darkkhaki;
    display: inline-block;
    float: left;
    height: 100%;
}

section {
    width: 60%;
    background-color:rgb(255, 131, 197);
    display: inline-block;
    float: left;
    height: 100%; 
}

