@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
  font-family: 'Roboto', sans-serif;  
  height: 100%;
}

nav {
  background-color:cadetblue;
  height: 50px; 
}

/*container*/
ul.container {
   display: flex;
   height: 100%;
   justify-content: space-around;
   align-items: center;
   list-style: none;
}

/*items*/
li {
  text-align: center;
  padding: 0 30px;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

/*animation*/
.li:hover {
    animation: changeMe 3s ease-in-out .2s;
  }

@keyframes changeMe {
0% {
    color: blanchedalmond;
}
33% {
    color: goldenrod;
}
66% {
    color: goldenrod;
}
100% {
    color: blanchedalmond;
}
}