/* this is a the reset to remove html element styling */
*{
    margin: 20;
    padding: 0;
    box-sizing: border-box;
}
    
/* styling starts here*/

html, body {
    height: 100%;
    font-family: monospace;
}

section {
    font-style: oblique;
}

h1 {
    text-transform: capitalize;
    text-align: center;
    text-decoration: underline;
    font-style: normal;
}

h3 {
    text-align: center;
}

.english {
    background-color:ivory;
    color:darkcyan;
    width: 50%;
    display: inline-block;
    float: left;
    height: 100%;
}

.port {
    background-color: lavenderblush;
    color:darkred;
    width: 50%;
    display: inline-block;
    float: left;
    height: 100%;
}
