/* this is a the reset to remove html element styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
/* styling starts here*/

html, body {
    height: 100%;
    font-family: monospace;
}

h1 {
    text-transform: capitalize;
    text-align: center;
    text-decoration: underline;
    font-style: normal;
    color: black;
}

h3 {
    text-align: center;
}

main {
    font-style: normal;
}

article {
    font-style: oblique;
}

header {
    height: 20%;
}

section {
    height: 80%;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.english {
    background-color:ivory;
    color:darkcyan;    
    top right bottom left
    padding: 10px 15px 10px 15px;
}

.port {
    background-color: lavenderblush;
    color:darkred;
    top right bottom left
    padding: 10px 15px 10px 15px;
}
